* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    line-height: 1;
}

h1 {
  font-family: "Afacad Flux", sans-serif;
	font-optical-sizing: 16px;
	font-weight: 900;
	font-style: normal;
}

.section_1 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/hero_bkgrd.jpg'); /* Ajoute l'image de fond */
    background-size: cover; /* Assure que l'image couvre tout l'espace sans être déformée */
    background-position: center; /* Centre l'image dans la div */
    background-repeat: no-repeat; /* Empêche que l'image se répète */
}

.section_1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2); /* Overlay noir semi-transparent */
    z-index: 2; /* Assure que l'overlay est par-dessus l'image */
    box-shadow: 0px 0px 8px #2c2c2c;
}

.section_1 * {
    position: relative;
    z-index: 3; /* Assure que le contenu (texte, boutons, etc.) est au-dessus de l'overlay */
}

#profile_image {
    position: relative;
    left: 3%;
    width: 20em;
    height: auto; /* Maintient le ratio de l'image tout en changeant la largeur */
    margin-bottom: 3%;
    margin-top: 3%;
}

.circle {
    width: 20em;
    height: 20em;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50%;
    position: absolute; 
    left: 3%; 
    margin-bottom: 3%;
    margin-top: 3%;
    z-index: 2;
    box-shadow: 0px 0px 8px #2c2c2c;
}

.circle_transi {
    width: 20em;
    height: 20em;
    background-color: #fff; 
    opacity: 0;
    border-radius: 50%;
    position: absolute; 
    left: 3%; 
    margin-bottom: 3%;
    margin-top: 3%;
    z-index: 4;
    transition: opacity 0.3s ease; /* Transition douce */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_transi:hover {
    opacity: 0.85; /* Opacité maximale */
}

.circle-text {
    color: rgb(7, 7, 7);
    font-size: 18px;
    position: absolute; /* Pour le centrer à l'intérieur du cercle */
    text-align: center;
}

#pb {
    position: absolute;
    top: 30%;
    left: 30%;
    right: 0;
    bottom: 0;
    font-size: 5em;
    color:rgb(97, 97, 97);
}

#subtitle {
    position: absolute;
    top: 55%;
    left: 30%;
    right: 0;
    bottom: 0;
    font-size: 5em;
    color:rgb(255, 255, 255);
}


.section_2 {
    position: relative;
    background-color:#c27d7d; /* Dark overlay */
    color: #060606;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_section h1 {
    font-size: 3em;
    margin-bottom: 0px;
}





